{% block sw_cms_detail_content_language_switch %}
    {% parent %}

    <div v-if="page && page.id" class="vivatura-translator-wrapper">
        <vivatura-translator-button
            entity-type="cms-page"
            :entity-id="page.id"
            :disabled="isLoading"
            @translation-complete="onPageSave"
        ></vivatura-translator-button>
    </div>
{% endblock %}
